/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("fonts/poppins-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("fonts/poppins-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("fonts/poppins-v21-latin-900.woff2") format("woff2");
}

/* Variables */
html {
  /* Primary colors */
  --primary-color1: #faf4ea;
  --primary-color2: #31261a;
  --primary-color3: #819b57;

  /* Secondary colors */
  --secondary-color1: #465929;
  --secondary-color2: #a18268;
  --secondary-color3: #cfcfbc;
}

/* Base */
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color2);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  /* background-color: var(--primary-color1); */
  background-color: grey;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
header {
  padding-top: 32px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.link {
  color: var(--primary-color1);
}
.link:hover {
  color: var(--primary-color3);
}
.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--primary-color3);
  background-color: var(--primary-color3);
  color: var(--primary-color1);
  font-weight: 600;
  cursor: pointer;
  padding: 16px 32px;
}
.button:hover {
  color: var(--primary-color2);
  background-color: transparent;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--primary-color1);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}
.hero-title .accent {
  color: var(--primary-color3);
}

/* Advantages section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--primary-color3);
}
.advantages-list {
  gap: 40px;
  display: flex;
  justify-content: space-between;
}
.advantages-list li {
  color: var(--primary-color1);
  font-size: 20px;
  font-weight: 300;
}

/* Tradition section */
.traditions-section {
  padding-top: 96px;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
}
.section-title .accent {
  color: var(--secondary-color1);
}
.traditions-title {
  margin-bottom: 42px;
  text-align: left;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.traditions-text {
  font-weight: 600;
}
.traditions-text.uppercase {
  margin-bottom: 42px;
}
.tradition-texts.uppercase .accent {
  text-transform: uppercase;
}
.traditions-text .accent {
  color: var(--primary-color3);
}
.traditions-text:last-child {
  max-width: 360px;
}
.traditions-image {
  border-radius: 400px 400px 0 0;
}

/* Chefs section */
.chefs-title {
  margin-bottom: 80px;
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chefs-section .chef-image {
  /* border: 1px solid var(--secondary-color2); */
  border-radius: 4px 4px 4px 200px;
}

/* Format section */
.formats-title {
  margin-bottom: 80px;
}
.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  border-radius: 16px;
}
.formats-item.walrus {
  background: url(/images/format-section/Walrus.jpg) no-repeat;
  background-size: cover;
}
.formats-item.horseshoe {
  background: url(/images/format-section/Horseshoe.jpg) no-repeat;
  background-size: cover;
}
.formats-item.handlebar {
  background: url(/images/format-section/Handlebar.jpg) no-repeat;
  background-size: cover;
}
.format-card {
  padding: 24px;
}
.format-title {
  margin-bottom: 16px;
  color: var(--primary-color1);
  font-size: 24px;
  font-weight: 600;
  padding-top: 250px;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contact section */
.contacts-title {
  margin-bottom: 16px;
}
.contacts-text {
  margin-bottom: 42px;
}

/* Footer */
footer {
  padding: 32px 0;
}
.footer-list li {
  margin-bottom: 16px;
}
.footer-link li:last-child {
  margin-bottom: 0;
}
.footer-address-list li {
  margin-bottom: 16px;
}
.footer-address-list li:nth-child(4),
.footer-address-list li:nth-child(5) {
  margin-bottom: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
}
.address-link {
  display: block;
  margin-bottom: 16px;
  color: var(--primary-color1);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}
.address-link:hover {
  color: var(--primary-color3);
}
.address-copyright {
  color: var(--secondary-color2);
  font-size: 14px;
}
