:root {
  /* Primary colors */
  --primary-color1: #faf4ea;
  --primary-color2: #31261a;
  --primary-color3: #819b57;

  /* Secondary colors */
  --secondary-color1: #465929;
  --secondary-color2: #a18268;
  --secondary-color3: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;