.button {
  display: block;
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--primary-color3);
  background-color: var(--primary-color3);
  color: var(--primary-color1);
  font-weight: 600;
  cursor: pointer;
  padding: 16px 32px;
  transition: color 1s, background-color 1s;
}

.button:hover {
  color: var(--primary-color2);
  background-color: transparent;
}

// carousel-button
.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--primary-color2);
  background-color: transparent;
  border: 1px solid var(--primary-color2);
  cursor: pointer;
  transition: background-color 1s, fill 1s;
}

.carousel-arrow {
  fill: var(--primary-color2);
}

.carousel-button:hover {
  background-color: var(--primary-color2);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--primary-color1);
}

.carousel-button.next {
  transform: rotate(180deg);
}

//
