.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--primary-color2);
  background-color: transparent;
  border: 1px solid var(--primary-color2);
  cursor: pointer;
  transition: background-color 1s, fill 1s;
}

.carousel-arrow {
  fill: var(--primary-color2);
}

.carousel-button:hover {
  background-color: var(--primary-color2);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--primary-color1);
}

.carousel-button.next {
  transform: rotate(180deg);
}