.chefs-title {
  margin-bottom: 80px;
  position: relative;
}

.chefs-title.centered,
.formats-title.centered {
  text-align: center;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 0;

  display: block;
  content: "";
  width: 350px;
  border: 2px solid var(--secondary-color3);
}

.chefs-title::before {
  left: 0px;
}

.chefs-title::after {
  right: 0px;
}

.chefs-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-article {
  display: flex;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-section .chef-image {
  /* border: 1px solid var(--secondary-color2); */
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primary-color1),
      -16px 16px 0 2px var(--secondary-color2);
}

.chef-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.chef-content p:nth-child(3),
.chef-content p:nth-child(4) {
  max-width: 320px;
}