.formats-title {
  margin-bottom: 80px;
}

.format-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--primary-color2);
  background-color: transparent;
  border: 1px solid var(--primary-color2);
  cursor: pointer;
  transition: background-color 1s, fill 1s;
}

.carousel-arrow {
  fill: var(--primary-color2);
}

.carousel-button:hover {
  background-color: var(--primary-color2);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--primary-color1);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
  padding: 24px;
  border-radius: 16px;
  transition: transform 1s;
}

.format-card:hover {
  transform: scale(1.1);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-title {
  margin-bottom: 16px;
  color: var(--primary-color1);
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-color1);
}