.traditions-section {
  padding-top: 96px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--secondary-color1);
}

.traditions-title {
  margin-bottom: 42px;
  text-align: left;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-text {
  font-weight: 600;
}

.traditions-text.uppercase {
  margin-bottom: 42px;
}

.tradition-texts.uppercase .accent {
  text-transform: uppercase;
}

.traditions-text .accent {
  color: var(--primary-color3);
}

.traditions-text:last-child {
  max-width: 360px;
}

.traditions-image {
  border-radius: 400px 400px 0 0;
}