.advantages-section {
  padding: 16px 0;
  background-color: var(--primary-color3);
  
  &__list {
    gap: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  &__item {
    color: var(--primary-color1);
    font-size: 20px;
    font-weight: 300;
  }
}