.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;


    &::before,
    &::after {
      position: absolute;
      bottom: 0;
    
      display: block;
      content: "";
      width: 350px;
      border: 2px solid var(--secondary-color3);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 30px;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}